


@media (max-width:700px) and (min-width:600px) {}



    body{
        background-color: bisque;
    }
    
    .parent{
        width: 60vw;
        background-color: aquamarine;
        font-size: 40px;
        height: 50vh;
    }
    
    .child{
        width: 5em; /*5*40=200px*/
        background-color: cornflowerblue;
        font-size: 1em; /*three times the font size of the parent element*/
        height: 50%;
    }

    html{
        font-size: 10px;
    }

.p1{
    font-size: 2rem; /*60px*/
}

.main{
    background-color: crimson;
    height: 80%;
}

/*
em, rem, vh, and vw units  16px 32px 48px

 

em = Relative to the font-size of the prent element (2em means 2 times the size of the current font)

rem = Relative to font-size of the root element - in html doc root is always <html>

vh = Relative to 1% of the height of the viewport*

vw = Relative to 1% of the width of the viewport*

% = Relative to viewport*

* Viewport = the browser window size.
*/



/* Flex Box */

.container{
    display: flex;
    height: 400px;
    background-color: beige;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.first{
    width: 200px;
    height: 100px;
    font-size: 30px;
    background-color: deeppink;
}

.second{
    width: 100px;
    height: 100px;
    font-size: 30px;
    background-color: pink;
}

.third{
    width: 100px;
    height: 100px;
    font-size: 30px;
    background-color: palevioletred;
}

.fourth{
    width: 100px;
    height: 100px;
    font-size: 30px;
    background-color: lightcoral;
}

